body{
  background-color: rgb(125, 173, 113);
  background: url(../assets/pokemon_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  position: relative;

}

header,
footer {
  text-align: center;
}

footer {
  position: absolute;
  // bottom: -10;
}

p{
  margin: 0;
  padding: 5px 0 0;
}

button {
  cursor: pointer;
  padding: 20px 30px;
  margin: 5px 10px;
  @include fontSize(20);
  font-size: 1.5rem;
  border: solid 3px transparent;
  transition: 300ms;

  &:hover,
  &:focus {
    border: solid 3px $blue;
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

ul.controls {
  justify-content: center;
}

ul.instructionsCopy {
  flex-direction: column;
}

img {
  max-height: 200px;
}

.hidden {
  display: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.dialogueBoxWrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}


footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

// .disabled {
//   display:none;
// }