html{
  background: url(../assets/pokemon_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
  
}
header,
footer {
  text-align: center;
}

button {
  cursor: pointer;
  padding: 20px 30px;
  margin: 5px 10px;
  @include fontSize(20);
  @include pokemonBorder;
  font-size: 1.5rem;
  
  &:hover,
  &:focus {
    border: solid 3px $blue;
  }
}

.howToPlayBtn {
  position: relative;
  top: 12vh;
  right: 50%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

ul.controls {
  justify-content: center;
}

ul.instructionsCopy {
  flex-direction: column;
}

img {
  max-height: 200px;
}

.hidden {
  display: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}