.instructions {
    @include pokemonBorder;
    font-family: $tertiaryFont;
    width: 40%;
    padding: 20px;
    h2 {
        text-align: center;
    }
    ul {
        display: flex;
        flex-direction: column;
        h3 {
            text-align: center;
        }
    }
}