// for making font sizes responsive
@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/20) * 1rem;
}

//pokemon border style
@mixin pokemonBorder {
  background-color: white;
  border-radius: 2px;
  line-height: 16px;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

//gameBoy round buttons (ie: A+B)
@mixin gameboyButtonRound {
  border: $red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: $red;
  color: black;
  text-transform: uppercase;
  border: solid 3px transparent;

  box-shadow: 0 1px 0 1px grey,
              inset 0 1px 0 1px $red,
              0 0 0 1px grey,
              inset 0 0 0 1px $red;

  button:hover,
  button:focus {
    border: solid 3px $blue;
  }
}

//gameBoy pill buttons (ie: start and select)
@mixin gameboyButtonPill {
  text-transform: uppercase;
  color: darkblue;
  padding: 10px;
  background-color: grey;
  border-radius: 16px;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px gray,
              0 0 0 1px grey,
              inset 0 0 0 1px black;
  button:hover,
  button:focus {
    border: solid 3px $blue;
  }
}

//dialogue box 
@mixin dialogueBox {
  padding: 15px 10px 0px;
  line-height: 25px;
  font-family: $tertiaryFont;
  color: black;


  @include devices (tablet) {
    max-width: 550px;
  }
}