
//Player 1 Pokemon
.playerContainer:first-child
    .displayPoke {
        img {
            animation-duration: 3s;
            animation-name: slideFromLeft;
        }
        text-align: center;

        
    }
    //Slide in from outside VP
@keyframes slideFromLeft {
    from {
        margin-left: -150%;
        
    }

    to {
        margin-left: 0%;
        
    }
}


//Player 2 Pokemon
.playerContainer:nth-child(2) {
    .displayPoke {
        img {
            animation-duration: 3s;
            animation-name: slideFromRight;
        }
        text-align: center;

    }
}
    //Slide in from outside VP
@keyframes slideFromRight {
    from {
        margin-left: 150%;
        
    }
    to {
        margin-left: 0%;
        
    }
}

.displayPoke {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
    @include pokemonBorder;
    margin: 0 auto;
    margin-bottom: 25px;
    img {
        max-height: 30vh;
    }

}

.playerScore {
    @include pokemonBorder;
    margin: 0 auto;
    text-align: center;
}

.pokeInfo {
    display: flex;
    flex-direction: column;

    .pokeName {
        text-transform: uppercase;
        margin-bottom: 0px;
        // font-stretch: extra-expanded;
    }
    
    .pokeScore {
        font-family: $tertiaryFont;
    }

}


.playerUl {
    display: flex;
    justify-content: space-evenly;

}

.playerCards {
    ul {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    img {
        width: auto;
    }
}

@include devices (mobile) {

    .displayPoke {
        width: 300px;
    }
    .playerContainer {
        padding-bottom: 40px;
    }
    .playerUl {
        flex-direction: column;
    }

}

@include devices (tablet) {
    .playerUl {
        flex-direction: column;
    }


}

@include devices (laptop) {
    .playerUl {
        flex-direction: row;
    }
}

@include devices (desktop) {
    .playerUl {
        flex-direction: row;
    }
}
