//Player 1 Pokemon
.playerContainer:first-child .displayPoke {
    img {
        animation-duration: 3s;
        animation-name: slideFromLeft;
    }

    text-align: center;


}

//Slide in from outside VP
@keyframes slideFromLeft {
    from {
        margin-left: -150%;

    }

    to {
        margin-left: 0%;

    }
}

.playerLabel {
    background: $yellow;
    border: 1px solid black;
}

//Player 2 Pokemon
.playerContainer:nth-child(2) {
    .displayPoke {
        img {
            animation-duration: 3s;
            animation-name: slideFromRight;
        }

        text-align: center;

    }
}

//Slide in from outside VP
@keyframes slideFromRight {
    from {
        margin-left: 150%;

    }

    to {
        margin-left: 0%;

    }
}

.displayPoke {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    @include pokemonBorder;
    margin: 0 auto;
    margin-bottom: 25px;
}

.playerScore {
    @include pokemonBorder;
    margin: 0 auto;
    text-align: center;
}

.pokeInfo {
    display: flex;
    flex-direction: column;

    .pokeName {
        text-transform: uppercase;
        margin-bottom: 0px;
        color: black;
    }

    .pokeScore {
        font-family: $tertiaryFont;
    }
}


.playerUl {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;

    .playerOneUl,
    .playerTwoUl {
        width: 45%;
        display: flex;
        justify-content: center;
        position: relative;
        
    }

    .playerLabel {
        position: absolute;
        top: -10%;
        padding: 5px 10px;
    }

}

.playerCards {
    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    img {
        width: auto;
        margin-right: 2px;
    }
}

@include devices (mobile) {

    .playerUl .playerLabel {
        top: -10%;
        @include fontSize(18);
    }

    .players {
        .wrapper {
            width: 100%;
        }

        .displayPoke {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-bottom: 10px;
            max-width: 145px;

            h3,
            h4 {
                @include fontSize(15);
            }
        }

        .playerContainer {
            padding-bottom: 40px;
        }

        .playerUl {
            flex-direction: row;
        }

        .playerOneUl,
        .playerTwoUl {
            width: 100%;
        }

        .playerCards {
            .card {
                padding: 0;

                img {
                    height: 100px;
                    width: auto;
                }
            }
        }
    }
}

@include devices (laptop) {

    .players {
        .playerCards {
            .card {
                img {
                    height: 200px;
        
                }
            }
    }
    
}
}

