h1, 
h2, 
button {
  font-family: $primaryFont;
  color: $red;
}

h1{
  @include fontSize(50);
}

h2 {
  @include fontSize(40);
  color: black;
}

h3 {
  @include fontSize(20);
  font-family: $tertiaryFont;
}

body {
  @include fontSize(20);
}

.wrapper {
  .instructions {
    li {
      font-family: $tertiaryFont;
    }
  }
}

span {
  text-transform: uppercase;
}