@import url('https://fonts.googleapis.com/css2?family=Lato&family=VT323&display=swap');

//fonts
$primaryFont: 'VT323', monospace;
$secondaryFont: 'Lato', sans-serif;

//colours
$red: rgb(204, 0, 0);
$blue: rgb(59, 76, 202);
$yellow: rgb(255, 222, 0);

